@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black; /* Add background color for better contrast */
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  text-align: left;
}

.name-animation {
  font-size: 5em;
  color: white;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  padding-left: 1em;
  margin: 0;
}

@media (max-width: 768px) {
  .name-animation {
    font-size: 3em;
    padding-left: 0.5em;
  }
}

@media (max-width: 480px) {
  .name-animation {
    font-size: 2em;
    padding-left: 0.5em;
  }
}