@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

#title_name {
  font-size: 48px;
  color: white;
  text-align: left;
  padding-left: 1em;
  margin: auto;
  position: absolute;
  top: 45%;
  left: 0%;
  transform: translateY(-50%);
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 6em;
}